body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif; 
}

/*Header */

#header-nav{
	background-color: #f6b319;
  border: 0;
  border-radius: 0;
}

#logo-image {
	background: url(../images/restaurant-logo_large.png) no-repeat;
	height: 150px;
	width: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#nav-phone {
  margin-top: 5px;
}
#nav-phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#nav-phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
}

 #navbar-collapse1 a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #navbar-collapse1 a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

 
  /*Header End*/

  /*HomePage */

  .main-section .jumbotron {
    padding: 0;
    border: 2px solid #3F0C1F;
    box-shadow: 0 0 50px #3F0C1F;
  }

#menu-tile , #special-tile, #map-tile {
  height: 250px;
  width:100%;
  position: relative;
  margin-bottom: 15px;
  border: 2px solid #3f0c1f;
}

#menu-tile:hover , #special-tile:hover, #map-tile:hover{
  box-shadow: 0px 1px 5px 1px #cccccc;
  text-decoration: none; 
}

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#special-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #special-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
    /*HomePage Ends*/

    /*footer section*/

  .footer-section {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.footer-section .row{
  margin-bottom: 30px;
}

#hours, #address {
  line-height: 2;
}

#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:not(:first-child) {
  margin-top: 25px;
}


/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* START SINGLE CATEGORIES PAGE */
.menu-item-tile{
  margin-bottom: 25px;
}
.menu-item-tile hr{
    width: 80%;
}

.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}

.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

.menu-item-desc {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {

  .main-section .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-image {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  .main-section .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand h1  {
    font-size: 1.2em;
  }

  #header-nav .container{
    padding-bottom: 15px;
  }

   .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }



}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-toggle{
    bottom: 20px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  #menu-tile, #special-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

   /* Footer */
  .footer-section section {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-section section:last-child {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .footer-section section hr {
    width: 50%;
  }
  /* End Footer */

     .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-desc {
    text-align: center;
  }

  }

  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
.navbar-brand h1  {
    font-size: 1.3em;
  }
  
  /* Home page */
  #menu-tile, #special-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

   .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}